* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #f7f7f7;
  background-color: #363434;

  margin-top: 20px;
}

#game {
  display: grid;
  grid-template-columns: repeat(20, 20px);
  width: 400px;
}

#score {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;

  margin: 10px 0;
}

.cell {
  border: 2px solid rgba(241, 237, 237, 0.1);
}

.player {
  background: blue;
  z-index: 30;
}

.snake-head {
  background: #860202;
  z-index: 20;
}

.snake-body {
  background: #ca0404;
  z-index: 20;
}

.food {
  background: yellow;
  z-index: -10;
}
