:root {
  --snake-body-color: #ca0404;
  --snake-head-color: #860202;
  --player-color: #2f2fe4;
  --food-color: #ecec18;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #f7f7f7;
  background-color: #363434;

  margin-top: 20px;
}

#game {
  display: grid;
  grid-template-columns: repeat(20, 20px);
  width: 400px;
}

#score {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;

  margin: 10px 0;
}

.cell {
  border: 2px solid rgba(241, 237, 237, 0.07);
}

.player {
  background: var(--player-color);
}

.snake-head {
  background: var(--snake-head-color);
}

.snake-body {
  background: var(--snake-body-color);
}

.food {
  background: var(--food-color);
}
